<div class = "container mt-sm-3 shadow-lg p-3 mb-5 rounded" style="background-color:rgba(189, 189, 189, 0.829);" >
        <h1>Contact Me</h1>
        <hr>

        <div class = "row">
            <div class = "input-group mb-3 p-sm-3 m-1">
                <div class = "input-group-prepend">
                    
                    <p>
                        Name: Daniel Devarajan 
                        </br>
                        </br>
                        Email: DDevarajan22@gmail.com
                        </br>
                        </br>
                        Phone: 832-466-6469
                        </br>
                        </br>
                        Git-Hub:
                        </br>
                        <a href = "https://github.com/DAnMaN15726">Here</a>
                        </br>
                        
                        LinkedIn:
                        </br>
                        <a href = "https://linkedin.com/in/DanielDev15726">Here</a>
                        </br>
                        </br>
                        </br>
                        <a href = "Daniel Devarajan - Resume.pdf">My Resume</a>
                    

                    </p>
                      
                
                </div>
                
            </div>

        </div>

    </div>