<div class = "container mt-sm-3 shadow-lg p-3 mb-5 rounded" style="background-color:rgba(189, 189, 189, 0.829);" >
                <h1>About Me</h1>
                <hr>

                <div class = "row">
                    <div class = "col-md-3 p-sm-3 m-1">
                        <img src = "Images\2019-07-171.jpeg" width = "100%" alt = "My self portrait"/>
                    </div>

                    <div class = "col-md-8 my-2">
                        <p>Hello, my name is Daniel. I'm a Computer Science major and a Music Composer. Ever since I was a child, I always had an
                            interest in technology and music. It all started from playing video games and trying to imagine how the developers created the world I played in.
                            How did they make the character move in such a way? How did they make the music? What exact process took them from scratch to such
                            a complex program? It is the questions of how, what, when , where and why that got me here to this point in my career.</p>
                    </div>




                </div>

</div>