<div class = "container mt-sm-3 shadow-lg p-3 mb-5 rounded" style="background-color:rgba(189, 189, 189, 0.829);">
                    <h1>Portfolio</h1>
                    <hr>

                    
                    <div class = "row">
                        <div class = "p-sm-3 m-1">
                            <div class="card bg-dark text-white" id = "task">
                                <img src = "Images/task.png" height = "200" alt = "T.A.S.K. Project 1" /> 
                                <div class="card-img-overlay">
                                    <h5 class="card-title bg-primary text-center my-5">T.A.S.K.</h5>
                                    
                                    
                                </div>
                            </div>
                                
                        </div>

                        <div class = "p-sm-3 m-1">
                            <div class="card bg-dark text-white" id = "liri">
                                <img src = "Images/liri.PNG" height = "200" alt = "LIRI" /> 
                                <div class="card-img-overlay">
                                    <h5 class="card-title bg-primary text-center my-5 ">LIRI
                                        

                                    </h5>
                                    
                                    
                                </div>
                            </div>
                              
                        </div> 
                    <div class = "p-sm-3 m-1">
                        <div class="card bg-dark text-white" id = "Bamazon">
                            <img src = "Images/bamazon.PNG" height = "200" alt = "Bamazon" /> 
                            <div class="card-img-overlay">
                                <h5 class="card-title bg-primary text-center my-5">Bamazon</h5>
                                
                                    
                            </div>
                        </div>
                                
                    </div>
                    <div class = "p-sm-3 m-1">
                        <div class="card bg-dark text-white" id = "friendFinder">
                            <img src = "Images/friendfinder.PNG" height = "200" alt = "Friend Finder" /> 
                            <div class="card-img-overlay">
                                <h5 class="card-title bg-primary text-center my-5">Friend Finder</h5>
                                
                                    
                            </div>
                        </div>
                                
                    </div>
                    
                    <div class = "p-sm-3 m-1">
                        <div class="card bg-dark text-white" id = "burger">
                            <img src = "Images/burger.PNG" height = "200" alt = "burger" /> 
                            <div class="card-img-overlay">
                                <h5 class="card-title bg-primary text-center my-5" >Burger</h5>
                                
                                    
                            </div>
                        </div>
                                
                    </div>
                    <div class = "p-sm-3 m-1">
                        <div class="card bg-dark text-white" id = "passport">
                            <img src = "Images/passport.PNG" height = "200" alt = "Passport" /> 
                            <div class="card-img-overlay">
                                <h5 class="card-title bg-primary text-center my-5" >Passport</h5>
                                
                                    
                            </div>
                        </div>
                                
                    </div>










                    </div>  
                    





                </div>

    

                <!-- mt-sm-2  -->



























            </div>











        <script src = "../public/javascript/app.js" >
        
        
        
        
        
        </script>